* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  position: relative;

  &.noscroll {
    overflow: hidden;
    margin-right: 17px;
  }
}

html.noscroll {
  /*overflow: hidden;
  margin-right: 17px;*/
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.popup_link {
  text-decoration: underline;
}
.click_and_hide_popup {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.agreement__popup,
.popup_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 8000;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.3s ease-out, background 0.3s ease-out;
}

.popup_wrapper.hidden {
  visibility: hidden;
  background: rgba(0, 0, 0, 0);
  opacity: 0;
  z-index: -300;
  // display: none;
}

.popup_wrapper .errmsg {
  color: red;
}

.click_and_hide_popup{
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.agreement__body,
.popup_body {
  position: relative;
  max-width: 800px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin: 0 auto;
  background: #fff;
  overflow-y: auto;
  max-height: 100vh;
  z-index: 10;
}

.modal_close {
  position: absolute;
  right: 0;
  top: 0;
  width: 23px;
  height: 23px;
  background: #2e71f0;
  font-size: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("./img/close-popup.svg") no-repeat center center;
}

.agreement__close {
  width: 23px;
  height: 23px;
  background: #2e71f0;
  position: sticky;
  top: 0;
  left: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("./img/close-popup.svg") no-repeat center center;
  cursor: pointer;
}

.signup_modal {
  max-width: 445px;
  padding: 55px 60px;
}

.policy {
  font-family: "Roboto", sans-serif;
  color: #222;
}

.h1,
.h2,
.h3,
.p {
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.5em;
  word-wrap: break-word;
}

.p {
  margin-bottom: 20px;
  font-size: 14px;
}

.h1 {
  font-size: 32px;
  text-align: center;
  margin: 20px auto;
}

.h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.h3 {
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 20px;
}

.blueside {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: #2e71f0;
  z-index: -1;
}

.header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  background: url("./img/header@fhd.jpg") no-repeat center center;
  background-size: cover;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  height: 94px;
}

.header__top-right {
  padding-right: 70px;
}

.link.login {
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  position: relative;
  z-index: 99;
}
.header__body {
  padding: 20px 40px;
  margin: 0 auto;
  margin-top: 90px;
  text-align: center;
  border-radius: 5px;
  color: #fff;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}
h1 {
  font-size: 50px;
  text-transform: uppercase;
  font-weight: bold;
}
h2 {
  font-size: 20px;
  font-weight: 300;
  margin-top: 10px;
}
.link.site {
  background: #f02e60;
  padding: 18px 41px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border-radius: 50px;
  margin: 0 auto;
  margin-top: 75px;
  text-decoration: none;
  text-transform: uppercase;
}
.howitworks {
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 80px;
  position: relative;
}
.howitworks__title {
  color: #333;
  font-size: 25px;
  font-weight: bold;
}
.video {
  width: 620px;
  height: 340px;
  margin-top: 35px;
}
.howitworks__body {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &_half {
    width: 50%;
  }

  &_half--imgbig {
    max-width: 480px;
    width: 100%;
  }
}
.register {
  margin-left: auto;
  max-width: 320px;
  width: 100%;
  margin-right: 100px;
}
.register__title {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}
.register__form {
  margin-top: 20px;
  max-width: 320px;
}
.register__field {
  display: flex;
  justify-content: space-between;
  position: relative;
}
@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}
.register__input {
  font-weight: 600;
  font-size: 14px;
  width: 320px;
  height: 48px;
  color: #9cbdfd;
  border: none;
  outline: none;
  border: 2px solid #6192ef;
  background: none;
  padding: 0 17px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: inset 0 0 0 50px #2e71f0;
  -webkit-text-fill-color: #9cbdfd;

  &::selection {
    background: #222;
    color: #9cbdfd;
  }

  @include placeholder {
    font-weight: 600;
    font-size: 14px;
    color: #9cbdfd;
    background: none;
  }
}
.register__button {
  border: none;
  outline: none;
  margin: 20px auto 0;
  display: block;
  width: 150px;
  height: 48px;
  background: #f02e60;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

  &.loading {
    font-size: 0;
    .button__loader {
      background: url("./img/loading.svg") no-repeat center center;
      width: 50px;
      height: 30px;
      margin: 0 auto;
    }
  }
}
.button__slider {
  border: none;
  outline: none;
  margin: 20px auto 0;
  display: block;
  width: 150px;
  height: 48px;
  line-height: 48px;
  background: #f02e60;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.register__input[type="password"],
.register__input[type="email"] {
  margin-top: 10px;
}
.error-section {
  margin-top: 20px;

  &.hidden {
    display: none;
  }
}
.errmsg {
  color: #fff;
  font-size: 14px;
  margin-bottom: 5px;
}
.footer {
  max-width: 1170px;
  width: 100%;
  margin: auto;
  margin-top: 50px;
  padding-bottom: 50px;
}
.copywrite {
  color: #b1abab;
  font-size: 12px;
}
.popup {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup__container {
  max-width: 500px;
  background: #fff;
  padding: 20px 40px;
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  font-weight: 600;
  color: #222;
  line-height: 1.5;
}

/* form popup */

.form_modal {
  display: flex;
  flex-flow: column nowrap;
}

.form_modal > * {
  box-sizing: border-box;
}

.modal_input {
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  width: 100%;
  font-size: 16px;
  padding: 15px;
  margin-bottom: 20px;
}

.form_line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

.form_line-center {
  justify-content: center;
}

.form_checkbox {
  display: flex;
  align-items: center;
}

.form_checkbox_div {
  width: 14px;
  height: 14px;
  flex: 1 0 14px;
  background: #fff;
  border-radius: 3px;
  position: relative;
  border: 1px solid #cccccc;
  cursor: pointer;
}

.form_link {
  font-size: 16px;
  text-decoration: underline;
  color: #2e71f0;
}

.reg_line {
  margin-bottom: 0;
}

.form_bottom {
  text-align: center;
}

.form_button {
  background-color: rgb(240, 46, 96);
  box-shadow: 0px 3px 9px 0px rgba(212, 27, 74, 0.41);
  color: #fff;
  text-transform: uppercase;
  width: 120px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  margin: auto;
}

.form_button.loading {
  font-size: 0;
}

.form_button.loading:after {
  content: "";
  background: url("./img/loading.svg") no-repeat center center;
  width: 50px;
  height: 30px;
  margin: 0 auto;
}

.reg_button {
  margin: 0;
  width: 141px;
}

.form_checkbox_div:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background: #f02e60;
  border-radius: 3px;
  opacity: 0;
}

.form_checkbox input[type="checkbox"]:checked + .form_checkbox_div:after {
  opacity: 1;
}

.modal_tabs {
  display: flex;
  margin-bottom: 40px;
}

.modal_tabs_button {
  border-bottom: 1px solid #e7edf7;
  font-size: 16px;
  font-family: "Roboto";
  color: rgb(183, 183, 183);
  width: 50%;
  font-weight: normal;
  padding: 10px;
}

.modal_tabs_button:first-child {
  text-align: left;
}

.modal_tabs_button:last-child {
  text-align: right;
}

.modal_tabs_button.active {
  color: rgb(46, 113, 240);
  font-weight: bold;
  border-bottom-width: 3px;
  border-bottom-color: rgb(46, 113, 240);
}

.modal_tabs_content {
  position: relative;
}

.modal_tabs_content_item {
  display: none;
  min-height: 270px;
}

.modal_tabs_content_item.show {
  display: block;
}

.remeber_modal {
  max-width: 445px;
  padding: 60px;
}

.remember_title {
  font-size: 20px;
  font-family: "Roboto";
  color: rgb(51, 51, 51);
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.remember_subtext {
  font-size: 16px;
  font-family: "Roboto";
  color: rgb(89, 89, 89);
  margin-bottom: 20px;
  text-align: center;
  padding: 0 15px;
}

.remeber_button {
  margin: auto;
  width: 135px;
}

.recover_button {
  width: 78px;
  margin: auto;
}

.recover_text {
  text-align: center;
  color: #2e71f0;
  margin-bottom: 30px;
}

.agreement__link {
  display: inline;
  color: rgb(46, 113, 240) !important;
}

[disabled] {
  cursor: not-allowed;
}

.error-section {
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* /form popup */

input[type="checkbox"] {
  display: none;
}

.checkbox__container {
  display: flex;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
  justify-content: center;
}

.checkbox {
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 3px;
  position: relative;
}

.checkbox__square {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  background: #f02e60;
  border-radius: 3px;
  opacity: 0;
}

input#agreed:checked + .checkbox > .checkbox__square {
  opacity: 1;
}

.checkbox__title {
  font-size: 14px;
  color: #fff;
  margin-left: 10px;

  a {
    color: #fff;
  }
}

.form_line .checkbox__title {
  color: #000;
}

@media (max-width: 1240px) {
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 14px;
  }
  .video {
    width: 430px;
    height: 240px;
  }
  .register__title {
    font-size: 18px;
  }
  // .register__input {
  //   // width: 220px;
  // }
  .register__button {
    right: 20px;
  }
  .footer {
    margin-top: 15px;
    padding-bottom: 15px;
  }
}

@media (max-width: 720px) {
  .blueside {
    display: none;
  }
  .header__body {
    padding: 0;
    border: none;
  }
  h1 {
    font-size: 24px;
  }
  .link.site {
    font-size: 13px;
    margin-top: 40px;
  }
  .howitworks__body {
    display: block;
  }
  .howitworks__title {
    font-size: 20px;
    text-align: center;
  }
  .video {
    width: calc(100% - 40px);
    height: 160px;
    margin: 0 auto;
    margin-top: 20px;
    box-sizing: border-box;
  }
  .register__form {
    max-width: 100%;
  }
  .register {
    padding: 0;
    margin: 0;
    background: #2e71f0;
    margin-top: 20px;
    padding: 40px 20px;
  }
  .register__input {
    width: calc(100% - 20px);
  }
  .register__button {
    right: 0px;
  }
  .footer {
    text-align: center;
  }
  .popup {
    padding: 20px;
    box-sizing: border-box;
  }
  .popup__container {
    font-size: 14px;
    padding: 10px 20px;
  }
}
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";

@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";

.myslider {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;

  &.hidden {
    display: none;
  }
}
.glide__track {
}
.glide__slide {
  background: #fff;
  height: 500px;
}
.glide__arrow {
  background: #2e71f0;
}

.header {
  background: rgb(0, 10, 16);
}

.header {
  background: linear-gradient(127deg, rgba(0, 10, 16, 1) 0%, rgba(0, 68, 89, 1) 100%);
  position: relative;
  overflow: hidden;
  z-index: 1;
}
// @media (max-width: 550px) {
//   .header::before {
//     background-position: 10% 90%;
//   }
// }
.header__body {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 0;
  padding-top: 0px;
}
@media (min-width: 721px) {
  .header__body {
    margin-top: 20px;
    padding-top: 50px;
  }
}
.header__body h1 {
  font-size: 22px;
  line-height: 1.161;
  color: #fff;
  text-align: left;
  text-transform: inherit;
}
.canbebr {
  display: inline;
}
.header__first {
  position: relative;

  .header__first__text {
    position: relative;
    display: block;
    z-index: 3;
  }

  &::before {
    content: "";
    background: rgba(46, 113, 240, 0.08);
    display: block;
    width: 10000000px;
    height: 65px;
    position: absolute;
    top: -5px;
    right: -165px;
    z-index: 2;
  }
}
.canbeblue {
  color: #2e71f0;
}
.header__last {
  display: block;
  color: #2e71f0;
}
.button__container {
  width: 100%;
  max-width: 1170px;
  margin: 30px auto 0;
  z-index: 999;
}
.button__slider {
  margin: 0;
  margin-left: 0px;
  // padding: 0px 30px;
  // font-size: 16px;
  // width: auto;
  // font-weight: 400;

  border-radius: 50px;
  display: inline-block;
  font-size: 12px;
  height: 48px;
  line-height: 48px;
  font-weight: bold;
}

.header {
  background: linear-gradient(127deg, rgba(0, 10, 16, 1) 0%, rgba(0, 68, 89, 1) 100%);
  position: relative;
  overflow: hidden;
  padding-bottom: 240px;
}

.header__body {
  width: 100%;
  max-width: 1170px;
  margin-top: 45px;
  margin-bottom: 35px;
  padding-top: 0;
}
.header__body h1 {
  font-size: 50px;
  line-height: 1.161;
  color: #fff;
  text-align: left;
}

.header__text {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #ffffff;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  text-align: left;
  display: flex;
  flex-flow: row wrap;

  &--item {
    width: calc(50% - 15px);
  }

  &--separator {
    width: 30px;
  }

  &--suboffer {
    font-size: 24px;
    line-height: 1.333;
    margin-bottom: 50px;

    & b {
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}

.header___video {
  width: calc(50% - 85px);
}

.header__text__section {
  margin-bottom: 35px;
  padding-left: 40px;
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 25px;
    background: url("./img/arrow-right.svg") no-repeat center center;
    background-size: contain;
    position: absolute;
    left: 0;
    top: 0;
  }
}
.header__text__line {
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
  font-weight: 300;
  margin-bottom: 5px;

  & span {
    font-weight: bold;
    color: #2e71f0;
  }
}
.button__container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.show-mobil {
  display: none;
}

@media (min-width: 768px) {
  .header__body {
    width: 100%;
    max-width: 1170px;
    margin-top: 45px;
    margin-bottom: 35px;
    padding-top: 0;
  }
  .header__body h1 {
    font-size: 50px;
    line-height: 1.161;
    color: #fff;
    text-align: left;
  }
  .canbebr {
    display: block;
  }
  .canbeblue {
    color: #fff;
  }
  .header__first {
    position: relative;
    display: inline-block;

    .header__first__text {
      color: #fff;
      position: relative;
      display: inline-block;
      z-index: 3;
    }

    &::before {
      height: 65px;
      top: 5px;
      right: -3px;
    }
  }
  .header__last {
    display: inline-block;
    color: #2e71f0;
  }

  .sitename {
    font-weight: bold;
  }

  .button__slider {
    font-size: 12px;
    height: 48px;
    line-height: 48px;
    font-weight: bold;
    margin-left: 45px;
    // margin: 0;
    // margin-left: 40px;
    // border-radius: 50px;
    // padding: 0px 25px;
    // font-size: 14px;
    // width: auto;
    // display: inline-block;
    // font-weight: 400;
  }
}
.glide__slide {
  background: none;
  padding: 100px;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;

  &:nth-child(1) {
    background-image: url("./img/slider/12.png");
  }
  &:nth-child(2) {
    background-image: url("./img/slider/22.png");
  }
  &:nth-child(3) {
    background-image: url("./img/slider/32.png");
  }
  &:nth-child(4) {
    background-image: url("./img/slider/42.png");
  }
  &:nth-child(5) {
    background-image: url("./img/slider/52.png");
  }
  &:nth-child(6) {
    background-image: url("./img/slider/62.png");
  }
  &:nth-child(7) {
    background-image: url("./img/slider/72.png");
  }
}
.close__slider {
  position: absolute;
  top: 0;
  left: calc(50% - 20px);
  z-index: 999;
  width: 40px;
  user-select: none;
}
.close__slider__button {
  font-size: 20px;
  margin: 20px auto 0;
  cursor: pointer;
  width: 40px !important;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  color: #fff;
  text-align: center;
  background: #2e71f0 url("./img/sliderclose.svg") no-repeat center center;
}

.glide__arrow {
  width: 60px;
  height: 40px;
  padding: 0;
  // bottom: 50%;
  background: #fff;
}
.glide-icon-left,
.glide-icon-right {
  width: 56px;
  height: 36px;
  background: url("./img/sliderarrow.svg") no-repeat center center;
}
.glide-icon-left {
  transform: rotate(180deg);
}
@media (max-width: 720px) {
  .glide__arrow {
    top: auto;
    bottom: 0%;
  }
}

/* popup choose */

.choose_role__modal {
  max-width: 680px;
  display: flex;
  flex-flow: column nowrap;
  padding: 50px 40px;
  align-items: center;
}

.choose_role__title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 40px;
}

.choose_role__buttons {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin-bottom: 35px;
}

.choose_role__button {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  background-color: rgb(238, 238, 238);
  box-shadow: 0px 4px 0px 0px rgba(0, 0, 1, 0.1);
  width: 178px;
  height: 212px;
  padding: 20px;
  margin-left: 7px;
  margin-right: 7px;
}

.choose_role__button:hover {
  background-color: rgb(44, 109, 232);
  box-shadow: 0px 4px 0px 0px #2862d0;
  color: #fff;
}

.choose_role__button_state_selected {
  background-color: rgb(44, 109, 232);
  box-shadow: 0px 4px 0px 0px #2862d0;
  color: #fff;
}

.choose_role__button_state_selected .img1 {
  background-position-x: -67px;
}

.choose_role__button_state_selected .img2 {
  background-position-x: -52px;
}

.choose_role__button_state_selected .img3 {
  background-position-x: -78px;
}

.choose_role__button--title {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.choose_role__button--img {
  overflow: hidden;
}

.img1 {
  background: url("./img/choose_1.png") no-repeat;
  color: #fff;
  width: 67px;
  height: 57px;
  background-position-x: 0px;
}

.choose_role__button:hover .img1 {
  background-position-x: -67px;
}

.img2 {
  background: url("./img/choose_2.png") no-repeat;
  width: 52px;
  height: 63px;
  background-position-x: 0px;
}

.choose_role__button:hover .img2 {
  background-position-x: -52px;
}

.img3 {
  background: url("./img/choose_3.png") no-repeat;
  width: 78px;
  height: 72px;
  background-position-x: 0px;
}

.choose_role__button:hover .img3 {
  background-position-x: -78px;
}

@media (max-width: 675px) {
  .choose_role__buttons {
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
  }

  .choose_role__footer {
    width: 100%;
  }

  .choose_role__button {
    max-width: 245px;
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
    flex-flow: row nowrap;
    height: 70px;
    padding: 0;
    justify-content: center;
    align-items: center;
  }

  .choose_role__button--img {
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    transform: scale(0.7);
    position: relative;
    left: -20px;
  }

  .img2 {
    left: -30px;
  }

  .choose_role__button--title {
    max-width: 106px;
    text-align: left;
  }
}

/* popup choose */

.blueside_header {
  width: 300px;
  height: 707px;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #2862d0;
}

.header_container {
  max-width: 1170px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 0;
}

/* iframe video */
.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;

  &::before {
    display: block;
    content: "";
  }

  .embed-responsive-item,
  iframe,
  embed,
  object,
  video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}

.embed-responsive-21by9 {
  &::before {
    padding-top: percentage(9 / 21);
  }
}

.embed-responsive-16by9 {
  &::before {
    padding-top: percentage(9 / 16);
  }
}

.embed-responsive-4by3 {
  &::before {
    padding-top: percentage(3 / 4);
  }
}

.embed-responsive-1by1 {
  &::before {
    padding-top: percentage(1 / 1);
  }
}
/* iframe video */

.iframe__position {
  position: relative;
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  margin: auto;
  margin-top: -125px;
  z-index: 2;
}

.iframe__block {
  border-radius: 2px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 49px 0px rgba(1, 1, 1, 0.33);
  //height: 238px;
}

.show-desktop {
  display: block;
}

@media (max-width: 1200px) {
  .header__top,
  .header__body,
  .header__text,
  .howitworks,
  .button__container,
  .howitworks__body_half {
    padding-left: 15px;
    padding-right: 15px;
  }

  .howitworks__body_half--imgbig {
    margin: auto;
    display: block;
  }

  .header___video {
    width: calc(50% - 15px);
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .header__text--separator {
    display: none;
  }
  .header__text--item {
    width: 50%;
  }
  .register {
    margin-right: 0;
  }
  .header__body {
    position: relative;
  }
  .header__text--suboffer {
    font-size: 18px;
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .header__top-right {
    padding-right: 0;
  }
  .footer {
    text-align: center;
  }
  .header_container {
    display: none;
  }

  .howitworks__body_half {
    width: 100%;
  }

  .header__body h1 {
    font-size: 40px;
  }
  .header__text--item {
    width: 100% !important;
  }
  .show-mobil {
    display: block;
  }
  .show-desktop {
    display: none;
  }

  .button__slider {
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .header___video {
    width: 100%;
  }
  .iframe__position {
    padding: 0;
    margin-top: 10px;
  }

  .blueside {
    display: none;
  }

  .howitworks {
    background: #2e71f0;
  }
  .howitworks__body {
    justify-content: center;
  }

  .register__title {
    text-align: center;
  }

  .register {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin: auto;
  }

  .register__input {
    width: 100%;
  }

  .signup_modal {
    padding: 40px 20px;
  }
}

@media (max-width: 480px) {
  .register {
    margin: auto;
  }
  .form_modal {
    align-items: center;
  }

  .howitworks {
    padding-top: 0;
  }
  .iframe__position {
    //position: static;
    //width: 100%;
    //transform: none;
  }
  .howitworks {
    padding-left: 0;
    padding-right: 0;
  }
  .howitworks__body {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
  }
  .header {
    padding-bottom: 40px;
  }
  .button__slider {
    width: 180px;
  }
  .header__body h1 {
    font-size: 30px;
  }
  .choose_role__modal {
    padding: 30px 20px;
  }
  .header__top {
    height: 50px;
  }
  .header__body {
    margin-top: 20px;
  }
}
